board {
    border: 1px solid #333;
    overflow: auto;
    display: table;
    background-color: #f4f6a8;
    padding: 5px;
    padding-left: 3px;
    padding-right: 7px;
}

.stats {
    width: 590px;
    background-color: #eee;
    padding: 10px;
    border: 1px solid #333;
    border-bottom: 0;
    font-family: sans-serif;

    .cookie {
        font-size: 3em;
    }

    .points {
        padding-left: 15px;
        font-size: 2em;
    }

    .msg {
        margin-left: 150px;
        font-size: 2em;
        color: #999;
    }

    .controls {
        margin-top: 10px;
    }
}

.controls {
    font-family: sans-serif;

    span {
        padding-right: 20px;
    }
}